@font-face {
  font-family: 'Rounded Elegance';
  src: url('/fonts/RoundedElegance-Regular.woff2') format('woff2'),
      url('/fonts/RoundedElegance-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: black;
  font-family: 'Rounded Elegance';
  color: white;
  -webkit-font-smoothing: antialiased;
  /* background: radial-gradient(circle, rgb(149, 149, 149) 0%, rgb(60, 60, 60) 70%, rgb(0, 0, 0) 100%); */
}

audio {
  position: fixed;
  z-index: 90;
  left: 10px;
  bottom: -80px;
  width: calc(100% - 20px);
  opacity: 0.2;
  transition: all 0.5s;
}

#app {
  height: calc(100% - 125px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.logo {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: calc(100% - 125px);
  display: flex;
  /*background-color: rgba(0,0,0,0.75);*/
  background-image: url('/img/splash.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.background,
.overlay {
  position: absolute;
  width: 100%;
  height: calc(100% - 125px);
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.overlay {
  z-index: 1;
  background-color: black;
  opacity: 0.75;
  transition: all 0.1s linear;
}

#app.is-playing .overlay {
  opacity: 0;
}

.foreground {
  text-align: center;
  background-color: transparent;
  z-index: 2;
}

.foreground h1 {
  margin-top: 0.75rem;
  margin-bottom: 0;
  font-size: 4rem;
  text-transform: lowercase;
  text-shadow: 0 0 6px rgba(0,0,0,0.75);
}

.foreground h2 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  text-shadow: 0 0 3px rgba(0,0,0,0.75);
  min-height: 3.5rem;
}

.foreground h5 {
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 0 0 2px rgba(0,0,0,0.75);
}

.nowplaying {
  color: white;
}

.nowprogram {
  position: relative;
  color: white;
  display: none;
}

.comingsoon {
  color: #fddb3a;
  display: none;
}

#playBtn {
  background-color: #ec0101;
  top: 4px;
  font-size: 8rem;
  position: relative;
  box-shadow: 0px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.1s linear;
  border-radius: 130px;
  width: 130px;
  height: 130px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  line-height: 130px;
}

#app.is-playing #playBtn {
  background-color: #79d70f;
}

#playBtn .mdi-power {
  color: white;
}

#playBtn:hover {
  top: 0;
  box-shadow: 0px 12px rgba(0, 0, 0, 0.2);
}

#playBtn:active {
  top: 8px;
  box-shadow: 0px 0px #d3545d;
}

.splide_tabs {
  padding: 0.75rem;
  opacity: 0;
  position: relative;
  z-index: 10;
  left: 0;
  right: 0;
  top: -52px;
  text-align: center;
}

.splide_tabs > a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  padding-bottom: 0.25rem;
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  color: rgba(255,255,255,0.25);
  background-color: rgba(0,0,0,0.25);
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: all 0.1s linear;
}

.splide_tabs > a.active {
  background-color: #0278ae;
  color: white;
}

.splide_tabs > a:hover {
  background-color: rgba(255,255,255,0.25);
  color: white; 
}

.splide_sliders {
  height: 125px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.splide_sliders > div { 
  position: absolute;
  background-color: black;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.splide_sliders-container {
  transition: all .4s ease-in-out;
}

.splide_sliders-container:hover {
  filter: contrast(140%);
}

.splide_sliders-container:hover .splide_sliders-title h3 {
  color: yellow;
}

.splide_sliders-item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:125px;
}

.splide_sliders-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  padding-bottom: 0;
  background-color: rgba(0,0,0,0.75);
}

.splide_sliders-title h3 {
  color: white;
  margin: 0;
  transition: all .4s ease-in-out;
  -webkit-font-smoothing: antialiased;
}

.splide_sliders-title p {
  margin-top: 0;
  font-size: 0.75rem;
  color: white;
}

.social {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
}

.social .mdi {
  position: relative;
  top: 3px;
  font-size: 3.25rem;
  text-shadow: 0px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.1s linear;
}

.social .mdi:hover {
  top: 0;
  text-shadow: 0px 8px rgba(0, 0, 0, 0.2);
}

.social .mdi:active {
  top: 6px;
  text-shadow: 0px 0px #d3545d;
}

.social .mdi-whatsapp {
  color: #25d366;
}

.social .mdi-facebook {
  color: #1877f2;
}

.social .mdi-wordpress {
  color: #00749C;
}

.social .mdi-room-service {
  color: #ff9900;
}

.social .mdi-instagram {
  color: #c32aa3;
}

.social .mdi-spotify {
  color: #1ed760;
}

.social .mdi-youtube {
  color: #ff0000;
}

.social .mdi-chat {
  color: #ff4500;
}

.social .mdi-email-outline {
  color: #ff4500;
}

.pointer {
  cursor: pointer;
}


/* spinner */

#loading {
  display: flex;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #000000;
}

.spinner-container {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  z-index: 3;
  width:100px; height:100px;
  margin: 100px auto;
}

.spinner-container .path {
  stroke-dasharray: 1,150; /* 1%, 101% circumference */
  stroke-dashoffset: 0;
  stroke: rgba(150, 150, 150, 0.7);
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes rotate{
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,150;  /* 1%, 101% circumference */
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -35;   /* 25% circumference */
  }
  100% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -124;  /* -99% circumference */
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,150;  /* 1%, 101% circumference */
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -35;   /* 25% circumference */
  }
  100% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -124;  /* -99% circumference */
  }
}

/* splide */

.splide__arrow {
  background: transparent!important;
  fill: white;
  width: 3em!important;
  height: 3em!important;
}

.splide__arrow svg {
  width: 3em!important;
  height: 3em!important;
}

.progress-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.progress {
  margin: 10px auto;
  padding: 0;
  width: 90%;
  height: 5px;
  overflow: hidden;
  background: #e5e5e5;
  border-radius: 3px;
}

.bar {
  transition: all 0.5s linear;
  position: relative;
  float: left;
  min-width: 1%;
  height: 100%;
  background: #0c9463;
}


/* responsive */

.mobile, .desktop {
  display: none;
}

@media screen and (max-width:768px), print {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  #playBtn {
    font-size: 4.5rem;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    line-height: 80px;
  }
}

@media screen and (min-width:769px), print {
  .desktop {
    display: block;
  }
  .foreground h1 {
    margin-top: 0;
  }
}

@media screen and (max-width:440px), print {
  .foreground h1 {
    font-size: 2.5rem;
  }
  .foreground h2 {
    font-size: 1.25rem;
  }
  .social .mdi {
    font-size: 2.25rem;
  }
}

@media screen and (max-height:480px), print {
  .foreground h1 {
    font-size: 2.5rem;
  }
  #app,
  .background, 
  .overlay {
    height: 100%;
  }
  #notas {
    display: none;    
  }
}
